<% layout('layouts/boilerplate-dashboard') -%>
<div style="margin-top: 30px">
  <h1 class="h2">Hotel</h1>
  <div style="margin-top: 30px">
    <form
      action="/hotel/add"
      method="post"
      style="display: flex; flex-direction: column; gap: 20px"
      enctype="multipart/form-data"
    >
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Nama Hotel"
          required
          name="namaHotel"
        />
        <label for="floatingInput">Nama Hotal</label>
      </div>
      <div class="form-floating">
        <textarea
          style="height: 200px"
          name="deskripsi"
          class="form-control"
          placeholder="Deskripsi tentang hotel"
          id="floatingTextarea"
        ></textarea>
        <label for="floatingTextarea">Deskripsi Hotel</label>
      </div>
      <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Gambar Hotel</label>
        <input
          class="form-control"
          name="images"
          type="file"
          id="formFileMultiple"
          multiple
          accept="image/*"
        />
      </div>
      <div class="form-floating">
        <textarea
          style="height: 250px"
          name="lokasiMap"
          class="form-control"
          placeholder="Deskripsi tentang wisata"
          id="floatingTextarea"
        ></textarea>
        <label for="floatingTextarea">Lokasi Google Map</label>
      </div>
      <button class="btn btn-lg btn-primary" type="submit">Tambah Hotel</button>
    </form>
  </div>

  <div class="mt-4" style="width: 100%; overflow-x: scroll">
    <table id="tableData" class="display" style="width: 100%">
      <thead>
        <tr>
          <th>No</th>
          <th>Nama Hotel</th>
          <th>Deskripsi</th>
          <th>Lokasi Map</th>
          <th>Gambar</th>
        </tr>
      </thead>
      <tbody>
        <%dataHotel.forEach((hotel, index) => { %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= hotel.nama_hotel %></td>
          <td><%= hotel.deskripsi %></td>
          <td><%= hotel.google_map %></td>
          <td>
            <div class="d-flex align-items-center">
              <% for (var j = 0; j < hotel.gambar.length; j++) {%>
              <img
                class="mx-4"
                src="<%=hotel.gambar[j]%>"
                width="150"
                height="150"
              />
              <% } %>
            </div>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
