<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/photoswipe/dist/photoswipe.css" />
<script
  type="text/javascript"
  src="/photoswipe/dist/photoswipe.esm.js"
></script>
<script
  type="text/javascript"
  src="/photoswipe/dist/photoswipe-lightbox.esm.js"
></script>
<script type="module">
  import PhotoSwipeLightbox from '/photoswipe/dist/photoswipe-lightbox.esm.js';
  const lightbox = new PhotoSwipeLightbox({
    gallery: '#gallery--getting-started',
    children: 'a',
    pswpModule: () => import('/photoswipe/dist/photoswipe.esm.js'),
  });
  lightbox.init();
</script>
<main style="min-height: 100vh" class="p-5">
  <div class="row g-5">
    <div class="col-md-8">
      <article class="blog-post">
        <h2 class="blog-post-title mb-1"><%= hotel.nama_wisata %></h2>
        <div class="my-5">
          <img src="<%= hotel.gambar[0] %>" class="img-fluid" alt="hotel" />
          <div
            class="
              pswp-gallery pswp-gallery--single-column
              d-flex
              align-items
              gap-2
              my-5
            "
            id="gallery--getting-started"
          >
            <%hotel.gambar.forEach((gambar) => { %>
            <a
              href="<%= gambar %>"
              data-pswp-width="1500"
              data-pswp-height="1400"
              target="_blank"
            >
              <img
                width="150"
                height="150"
                style="object-fit: contain; object-position: center"
                src="<%= gambar %>"
                alt=""
              />
            </a>
            <% }) %>
          </div>
        </div>
        <div><%= hotel.deskripsi %></div>
        <hr />
      </article>
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem">
        <div class="px-4">
          <h4 class="border-bottom pb-4">Daftar Wista Terdekat</h4>
          <div>
            <%[0,1].forEach((hotel) => { %>
            <div class="card my-4" style="width: 18rem">
              <img
                src="https://via.placeholder.com/150x100"
                class="card-img-top"
                alt="hotel"
              />
              <div class="card-body">
                <h5 class="card-title">Nama Wisata</h5>
                <p class="card-text">Deskripsi Wisata</p>
                <a
                  style="width: 100%; background-color: #bfe3b4"
                  href="#"
                  class="btn text-bold fw-bold"
                  >Detail</a
                >
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
