<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/photoswipe/dist/photoswipe.css" />
<script
  type="text/javascript"
  src="/photoswipe/dist/photoswipe.esm.js"
></script>
<script
  type="text/javascript"
  src="/photoswipe/dist/photoswipe-lightbox.esm.js"
></script>
<script type="module">
  import PhotoSwipeLightbox from '/photoswipe/dist/photoswipe-lightbox.esm.js';
  const lightbox = new PhotoSwipeLightbox({
    gallery: '#gallery--getting-started',
    children: 'a',
    pswpModule: () => import('/photoswipe/dist/photoswipe.esm.js'),
  });
  lightbox.init();
</script>
<main style="min-height: 100vh" class="p-5">
  <div class="row g-5">
    <div class="col-md-8">
      <article class="blog-post">
        <h2 class="blog-post-title mb-1"><%= wisata.nama_wisata %></h2>
        <span
          class="badge p-2 text-secondary"
          style="background-color: #bfe3b4; font-size: 13px"
          ><%= wisata.nama_kategori %></span
        >
        <div class="my-5">
          <img src="<%= wisata.image[0] %>" class="img-fluid" alt="wisata" />
          <div
            class="
              pswp-gallery pswp-gallery--single-column
              d-flex
              align-items
              gap-2
              my-5
            "
            id="gallery--getting-started"
          >
            <%wisata.image.forEach((image) => { %>
            <a
              href="<%= image %>"
              data-pswp-width="1500"
              data-pswp-height="1400"
              target="_blank"
            >
              <img
                width="150"
                height="150"
                style="object-fit: contain; object-position: center"
                src="<%= image %>"
                alt=""
              />
            </a>
            <% }) %>
          </div>
        </div>
        <div><%= wisata.deskripsi %></div>
        <br />
        <br />
        <h5>Lokasi:</h5>
        <iframe
          src="<%= wisata.google_map %>"
          width="700"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </article>
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem">
        <div class="px-4">
          <h4 class="border-bottom pb-4">Daftar Hotel Terdekat</h4>
          <div>
            <%dataHotel.forEach((hotel) => { %>
            <div class="card my-4" style="width: 18rem">
              <img
                src="<%= hotel.gambar %>"
                class="card-img-top"
                alt="hotel"
                width="full"
                height="200px"
                style="object-fit: cover; object-position: center"
              />
              <div class="card-body">
                <h5 class="card-title"><%= hotel.nama_hotel %></h5>
                <p class="card-text"><%= hotel.deskripsi %></p>
                <a
                  style="width: 100%; background-color: #bfe3b4"
                  href="/hotel/detail/<%= hotel.id_hotel %>"
                  class="btn text-bold fw-bold"
                  >Detail</a
                >
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
